In [7]:
#1)What's the version of NumPy that you installed?

UsageError: Line magic function `%md` not found.

In [ ]:
np.__version__

In [9]:

!wget https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv

--2022-09-21 21:08:34--  https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv
Resolvendo raw.githubusercontent.com (raw.githubusercontent.com)... 2606:50c0:8001::154, 2606:50c0:8003::154, 2606:50c0:8002::154, ...
Conectando-se a raw.githubusercontent.com (raw.githubusercontent.com)|2606:50c0:8001::154|:443... conectado.
A requisição HTTP foi enviada, aguardando resposta... 200 OK
Tamanho: 1475504 (1,4M) [text/plain]
Salvando em: “data.csv”

data.csv            100%[===================>]   1,41M  3,45MB/s    em 0,4s

2022-09-21 21:08:39 (3,45 MB/s) - “data.csv” salvo [1475504/1475504]

In [50]:
import pandas as pd
data = pd.read_csv("https://raw.githubusercontent.com/alexeygrigorev/mlbookcamp-code/master/chapter-02-car-price/data.csv")

In [12]:
#2) Number of records in dataframe

In [13]:
data.shape[0]

11914

In [14]:
#3) Who are the most frequent car manufacturers (top-3) according to the dataset?

In [15]:
data.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [29]:
data['Make'].value_counts().head()

Chevrolet     1123
Ford           881
Volkswagen     809
Toyota         746
Dodge          626
Name: Make, dtype: int64

In [41]:
#4) What's the number of unique Audi car models in the dataset?

In [39]:
data[data.Make=='Audi']['Model'].nunique()

34

In [42]:
#5)How many columns in the dataset have missing values?

In [43]:
(data.isnull().sum() != 0).sum()

5

In [44]:
#Question 6
#Find the median value of "Engine Cylinders" column in the dataset.
#Next, calculate the most frequent value of the same "Engine Cylinders".
#Use the fillna method to fill the missing values in "Engine Cylinders" with the most frequent value from the previous step.
#Now, calculate the median value of "Engine Cylinders" once again, Did it change?

In [51]:
data['Engine Cylinders'].median() #median

6.0

In [53]:
most_frequent = data['Engine Cylinders'].mode() #most frequent value
most_frequent

0    4.0
Name: Engine Cylinders, dtype: float64

In [54]:
data.fillna(most_frequent, inplace=True) #feeling NA with 0.

In [55]:
data['Engine Cylinders'].median() #calculating the median again - Didnt change the value after calculating again.

6.0

In [56]:
#Question 7
#a)Select all the "Lotus" cars from the dataset.
#b)Select only columns "Engine HP", "Engine Cylinders".
#c)Now drop all duplicated rows using drop_duplicates method (you should get a dataframe with 9 rows).
#d)Get the underlying NumPy array. Let's call it X.
#e)Compute matrix-matrix multiplication between the transpose of X and X. To get the transpose, use X.T. Let's call the result XTX.
#f)Compute the inverse of XTX.
#g)Create an array y with values [1100, 800, 750, 850, 1300, 1000, 1000, 1300, 800].
#h)Multiply the inverse of XTX with the transpose of X, and then multiply the result by y. Call the result w.
#i)What's the value of the first element of w?

In [64]:
result = data[data['Make'] == 'Lotus'][['Engine HP', 'Engine Cylinders']].drop_duplicates()
X = result.to_numpy()  #a,b,c,d

In [71]:
mtm_mult = X.T@X
mtm_mult #e

array([[7.31684e+05, 1.34100e+04],
       [1.34100e+04, 2.52000e+02]])

In [76]:
mtm_mult_inv = np.linalg.inv(mtm_mult)
mtm_mult_inv #f

array([[ 5.53084235e-05, -2.94319825e-03],
       [-2.94319825e-03,  1.60588447e-01]])

In [90]:
y = np.array(['1100', '800', '750', '850', '1300', '1000', '1000', '1300', '800'])
y=y.astype(np.float64) #g

In [91]:
w = (mtm_mult_inv @ X.T) @ y #h

In [92]:
w[0] #value of first element of w #i

4.594944810094576